#content {
  display: grid;
  grid-template-rows: 100px 700px;
  grid-template-columns: 1fr 4fr;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #166534;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.headerText {
  font-size: x-large;
  color: white;

  font-weight: 700;
  margin-left: 75px;
  margin-block: 35px;
}

.sidebar {
  background-color: #e2e8f0;
  border-right: 4px solid white;
}

.main {
  background-color: #e2e8f0;
  border-left: 4px solid white;
}

.todo {
  color: #1f2937;
  font-weight: 700;
  border: 5px solid #166534;
  width: auto;
  margin: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 4fr 6fr 3fr 2fr 1fr;
  align-items: center;
}

.todo > p {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-inline: 2px solid #166534;
}

.todo > .priority {
  border-right: 4px solid #166534;
  /* The input checkbox does not have a border so the border here needs to be twice as thick */
}

input {
  height: 30px;
  display: flex;
}
