#content {
  display: grid;
  grid-template-rows: 100px 700px;
  grid-template-columns: 1fr 4fr;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #166534;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.headerText {
  font-size: x-large;
  color: white;

  font-weight: 700;
  margin-left: 75px;
  margin-block: 35px;
}

.sidebar {
  background-color: #e2e8f0;
  border-right: 4px solid #166534;
  display: flex;
  flex-direction: column;
}

main {
  background-color: #e2e8f0;
  border-left: 4px solid #166534;
}

.todo,
form {
  color: #1f2937;
  font-weight: 700;
  border: 5px solid #166534;
  width: auto;
  margin: 15px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 5fr 8fr 5fr 4fr 2fr 2fr;
  align-items: center;
}

.todo > p,
form > input,
.todo > .edit {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-inline: 2px solid #166534;
  padding: 2px;
}

.todo > .priority,
form > .priority-input {
  border-right: 4px solid #166534;
  /* The input checkbox does not have a border so the border here needs to be twice as thick */
}

input {
  height: 25px;
  display: flex;
  min-width: 25px; /* Otherwise the grid alignment gets thrown off */
}

.remove,
.submit {
  display: flex;
  height: 100%;
  border-left: 4px solid #166534;
  justify-content: center;
  align-items: center;
}

.remove > img {
  height: 50px;
}

.todo > .done {
  border-inline: 0px;
}

.plus-todo {
  height: 60px;
  width: auto;
  margin-left: 10px;
}

.head-row {
  grid-template-columns: 5fr 8fr 5fr 4fr 4fr;
  font-size: x-large;
}

.hidden {
  display: none;
}

form > .done-input {
  height: 75%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sidebar > div > span,
.proj-form {
  display: flex;
  flex-direction: row;
  border: 6px double black;
  margin: 10px;
  padding: 2px;
  align-items: center;
  justify-content: space-around;
  font-weight: 800;
}

.proj-remove > img {
  height: 25px;
}

.head-proj {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 5px solid #166534;
  font-weight: 800;
  font-size: x-large;
}

.plus-proj {
  margin-top: 15px;
  height: 40px;
}

.sidebar .selected {
  border-color: #166534;
}
